body{
    background-color: palevioletred;
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: flex;
	flex-direction: column;
 	box-sizing: border-box;
	color: #FFFFFF;
}

/* header main page */

header{
    height: 100px;
    display: flex;
	flex-direction: row;
	justify-content: space-between;    
    align-items: center;

    background: #17161C;
}

header > h1{

    margin: 5%;
    font-family: 'Passion One';
    font-weight: 400;
    font-size: 48px;
    text-align: center;

    color: #ECDF68;
}

header > div.navbar_menu{
    margin: 5%;
}

header > div.navbar_menu > a{
    margin: 15px;
	text-decoration: none;
	color: #fff;
    font-family: 'Passion One';
    font-size: 48px;
}

/* first section */

section.first{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px ;
    background-color: #171921;
}

section.first > h1{
    font-family: 'Graduate';
    font-size: 32px;
    padding: 20px;
}

section.first > div.image_craft > img{
    width: 1287px;
    height: 255px;
    left: 77px;
    top: 385px;
}

.custom-shape-divider-bottom-1658182517 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658182517 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1658182517 .shape-fill {
    fill: #070816;
}